# Data Science Masters
## MySQL__16th Feb'23_Hakim
### Name: Hakim Brbaa

#### Q#1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a way that makes it easy to manage and access. It is designed to provide a way to store, retrieve, and manage large amounts of data efficiently and effectively.

SQL (Structured Query Language) databases and NoSQL (Not Only SQL) databases are two types of databases that differ in the way they store and manage data.

SQL databases are relational databases that store data in tables, where each table consists of rows and columns. SQL databases are characterized by their ability to handle complex queries, transactions, and structured data. They are widely used in applications that require complex transactions and well-defined data relationships. Examples of SQL databases include MySQL, Oracle, and Microsoft SQL Server.

On the other hand, NoSQL databases are non-relational databases that store data in a more flexible and dynamic way. NoSQL databases are designed to handle large volumes of unstructured or semi-structured data, and they are often used in applications that require high scalability and performance. NoSQL databases come in many different types, including document-oriented, key-value, graph, and column-family databases. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

In summary, the main differences between SQL and NoSQL databases are:

Data model: SQL databases use a relational data model, while NoSQL databases use a variety of data models (e.g., document-oriented, key-value, graph).
Query language: SQL databases use the SQL query language, while NoSQL databases use a variety of query languages (or APIs) depending on the data model.
Scalability: NoSQL databases are generally considered more scalable than SQL databases, and can handle larger volumes of data and more concurrent users. However, SQL databases are often better suited for complex transactions and well-defined data relationships.

#### Q#2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, and it is a set of SQL statements used to define the structure of a database schema. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and constraints. Here are some examples of DDL statements and how they are used:

- CREATE: This statement is used to create a new database object such as a table, view, or index. For example, to create a new table named "customers" with columns for customer ID, name, and email, you can use the following SQL statement:

CREATE TABLE customers (
   customer_id INT PRIMARY KEY,
   name VARCHAR(50),
   email VARCHAR(100)
);

- DROP: This statement is used to delete a database object such as a table or index. For example, to delete the "customers" table created in the previous example, you can use the following SQL statement:

DROP TABLE customers;

- ALTER: This statement is used to modify the structure of an existing database object such as a table, view, or index. For example, to add a new column named "phone" to the "customers" table, you can use the following SQL statement:

ALTER TABLE customers ADD phone VARCHAR(20);

- TRUNCATE: This statement is used to remove all data from a table. It is different from the DROP statement because it preserves the table structure and only deletes the data. For example, to remove all data from the "customers" table, you can use the following SQL statement:

TRUNCATE TABLE customers;

In summary, DDL statements are used to define the structure of a database schema and to create, modify, and delete database objects such as tables, views, indexes, and constraints. The CREATE statement is used to create a new database object, the DROP statement is used to delete a database object, the ALTER statement is used to modify a database object, and the TRUNCATE statement is used to remove all data from a table.

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, and it is a set of SQL statements used to modify the data stored in a database. DML statements are used to insert, update, and delete data from tables. Here are some examples of DML statements and how they are used:

- INSERT: This statement is used to add new rows of data to a table. For example, to add a new customer to the "customers" table with a customer ID of 1, a name of "Hakim Brbaa", and an email of "hakimbrbaa@gmail.com", you can use the following SQL statement:

INSERT INTO customers (customer_id, name, email) VALUES (1, 'Hakim Brbaa', 'hakimbrbaa@gmail.com');

- UPDATE: This statement is used to modify existing data in a table. For example, to update the email address for the customer with a customer ID of 1 to "hakimbrbaa1@gmail.com", you can use the following SQL statement:

UPDATE customers SET email = 'hakimbrbaa1@gmail.com' WHERE customer_id = 1;

- DELETE: This statement is used to remove rows of data from a table. For example, to remove the customer with a customer ID of 1 from the "customers" table, you can use the following SQL statement:

DELETE FROM customers WHERE customer_id = 1;

In summary, DML statements are used to modify the data stored in a database. The INSERT statement is used to add new rows of data to a table, the UPDATE statement is used to modify existing data in a table, and the DELETE statement is used to remove rows of data from a table.

#### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, and it is a set of SQL statements used to retrieve data from one or more tables in a database. The most commonly used DQL statement is SELECT, which is used to retrieve data from a table or view. Here's an example of how the SELECT statement is used:

Suppose we have a table named "customers" with the following columns: customer_id, name, email, and phone. We want to retrieve the names and email addresses of all customers in the table. To do this, we can use the following SQL statement:

SELECT name, email FROM customers;

This statement tells the database to retrieve the "name" and "email" columns from the "customers" table. The results of the query will be a set of rows, with each row containing the name and email of a single customer.

We can also use the SELECT statement to filter the results based on certain conditions. For example, if we only want to retrieve the names and email addresses of customers who have the word "example" in their email address, we can use the following SQL statement:

SELECT name, email FROM customers WHERE email LIKE '%example%';

In summary, the SELECT statement is a DQL statement used to retrieve data from one or more tables in a database. It can be used to retrieve specific columns, filter results based on certain conditions, and sort the results in a specific order.

#### Q5. Explain Primary Key and Foreign Key.

Primary key and foreign key are two important concepts in database design. A primary key is a column or set of columns in a table that uniquely identifies each row in that table. A foreign key is a column or set of columns in a table that refers to the primary key of another table.

Here are some more details on each:

1. Primary Key: A primary key is a column or set of columns in a table that uniquely identifies each row in that table. Primary keys are used to ensure that each row in a table is unique and to allow other tables to refer to this table using foreign keys. Primary keys can be made up of one or more columns, and they must have the following properties:

- Unique: Each row in the table must have a unique value for the primary key.
- Non-null: The primary key value cannot be null.
- Stable: The value of the primary key should not change over time.
For example, in a "customers" table, the "customer_id" column could be the primary key. Each customer would have a unique ID, and this ID would not change over time.

2. Foreign Key: A foreign key is a column or set of columns in a table that refers to the primary key of another table. Foreign keys are used to establish relationships between tables, allowing you to link data from different tables. A foreign key must reference a primary key, and it must have the following properties:

- Referential integrity: The values in the foreign key column must match the values in the primary key column.
- Non-null: The value in the foreign key column cannot be null.
For example, in an "orders" table, there might be a foreign key column called "customer_id" that references the primary key of the "customers" table. This allows you to link each order to the customer who placed it.

In summary, primary keys are used to ensure that each row in a table is unique, while foreign keys are used to establish relationships between tables by linking to the primary key of another table. By using primary keys and foreign keys, you can create a well-organized database that can efficiently store and retrieve data.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect to MySQL from Python, we need to use a MySQL connector. There are several MySQL connectors available for Python, but one of the most popular is 'mysql-connector-python'. Here's an example Python code to connect to MySQL using this connector:

import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
    user='username', 
    password='password',
    host='hostname',
    database='database_name')

# Create a cursor object
mycursor = mydb.cursor()

# Execute a query
cursor.execute("SELECT * FROM my_table")

# Process the results
for i in cursor:
    print(i)

# Close the cursor and connection
cursor.close()
cnx.close()

#### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in a query depends on the structure of the query, but generally follows these steps:

- 'FROM' clause: This clause specifies the table or tables from which the data will be retrieved.

- 'JOIN' clauses: If the query involves joining two or more tables, the JOIN clauses will be executed next to merge the relevant data.

- 'WHERE' clause: This clause is used to filter the data based on specified conditions.

- 'GROUP BY' clause: This clause is used to group the data based on one or more columns.

- 'HAVING' clause: This clause is used to filter the grouped data based on specified conditions.

- 'SELECT' clause: This clause specifies the columns that will be included in the result set.

- 'DISTINCT' clause: If the query includes the DISTINCT keyword, this will be executed next to remove duplicate rows from the result set.

- 'ORDER BY' clause: This clause is used to sort the result set based on one or more columns.

- 'LIMIT' clause: If the query includes the LIMIT keyword, this will be executed last to limit the number of rows in the result set.

It's important to note that not all of these clauses are required in every query, and the order in which they are specified may vary depending on the specific requirements of the query.